@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(210, 60%, 98%);
}

.container {
    max-width: 100%;
    width: 700px;
    margin: 0 auto;
}

.notification {
    margin-top: 60px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .1);
}

h1,h2,h3 {
    color: hsl(224, 21%, 14%);

}

.header h1 {
    font-size: 1.5rem;
}

.header span {
    background-color: hsl(219, 85%, 26%);
    color: #fff;
    font-size: 1.3rem;
    padding: 0px 10px;
    border-radius: 5px;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.header .flex {
    justify-content: space-between;
    align-items: center;
}

.header .btn {
    background:transparent;
    border: none;
    cursor: pointer;
    color: hsl(219, 85%, 26%);
    font-size: 1rem;
    font-family: inherit;
    letter-spacing: .5px;
    font-weight: 200;
}

.header {
    margin: 35px 30px;
    margin-bottom: 1rem;

    
}

.card {
    padding: 20px 30px;
    margin: 0 30px;
    margin-bottom: 1rem;
}

.unread .flex {
    align-items: center;
    justify-content: left;
}

.card.unread {
    background-color: hsl(210, 60%, 98%);
    border-radius: 10px;
}

.card h3 {
    font-size: .9rem;
    margin-right: .5rem;
}

.card h3 span{
    font-weight: 200;
}

.time {
    font-family: inherit;
    font-size: .9rem;
    font-weight: 200;
    color: hsl(219, 12%, 42%);
}

img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.circle-unread {
    background-color:hsl(1, 90%, 64%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.card h3 .blue {
    color: hsl(219, 91%, 27%);
    font-family: inherit;
    font-weight: 700;
}

.comment {
    border: 1px solid hsl(219, 12%, 42%);
    border-color: hsl(219, 14%, 63%);
    border-radius: 5px;
    margin-top: 1rem;
    padding: 20px;
    color: hsl(219, 12%, 42%);
}

.card-info .time {
    margin-top: -10px;
}

.spacebetween img {
    margin-left: 9rem;
}

.card h3 .topic {
    font-weight: 700;
}

.unread-read {
    background-color: #fff;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    } 
    .header {
        margin: 1rem;
    }
    .notification {
        width: 80%;
    }
    .spacebetween img {
        margin-left: 0;
    }
    .card {
        margin: 0;
    }
    .card-info .time {
        margin-top: 0px;
    }
}